<nb-card>
    <nb-card-body>
        <form aria-labelledby="title" [formGroup]="form" (submit)="join()">
            <div class="form-control-group">
                <input nbInput
                       fullWidth
                       name="email"
                       id="input-email"
                       pattern=".+@.+\..+"
                       placeholder="Email address"
                       fieldSize="large"
                       autofocus
                       required
                       formControlName="email"
                >
                <app-form-error formControlName="email"></app-form-error>
            </div>
            <button type="submit"
                    nbButton
                    fullWidth
                    status="primary"
                    size="large"
            >
                Join
            </button>
        </form>
    </nb-card-body>
</nb-card>

