:host {
  display: block;
  width: 100%;
  max-width: 35rem;
  margin: 10rem auto;

  ::ng-deep {
    form {
      width: 100%;
    }

    .label {
      display: block;
      margin-bottom: 0.5rem;
    }

    .title {
      margin-top: 0;
      margin-bottom: 0.75rem;
      text-align: center;
    }

    .sub-title {
      margin-bottom: 2rem;
      text-align: center;
    }

    .form-control-group {
      margin-bottom: 2rem;
    }

    .form-control-group.accept-group {
      display: flex;
      justify-content: space-between;
      margin: 2rem 0;
    }
  }
}
